<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codelovely.thecooksnook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MealPlanActivity"></activity>
        <activity android:name=".AddMealPlanActivity" />
        <activity android:name=".DailyMealPlanActivity" />
        <activity android:name=".MealPlannerActivity" />
        <activity android:name=".AddRecipeActivity" />
        <activity android:name=".RecipeActivity" />
        <activity android:name=".CookBookActivity" />
        <activity android:name=".CookBookHomeActivity" />
        <activity android:name=".HomeScreenActivity"></activity>
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>